body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex: 1;
    padding: 8px;
    align-items: center;
}

.header.logo > img {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

a {
    text-decoration: none;
    color: white;
}

.content1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px 0 48px 0;
}

.subcontent1 {
    display: flex;
    flex-direction: column;
}

p.text1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.subcontent1.text {
    color: white;
}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    color: white;
    border-radius: 20%;
}
.button1 {
    width: 75px;
    margin-top: 8px;
}

.subimg1 > img {
    width: 200px;
    height: 200px;
}

.content2 {
    background-color: aliceblue;
}

.random.info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 24px;
}
.subimg2 {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 36px;
}

.img-container > img {
    width: 200px;
}

.img-container {
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

p.text3 {
    font-size: 36px;
    color: #1f2937;
}

.content4 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 32px 16px 32px 16px;
}

.modal {
    background-color: #3882f6;
    display: flex;
    padding: 16px;
    align-items: center;
}

.modal.text {
    color: white;
    display: flex;
    flex-direction: column;
}

.button2 {
    border-color: white;
    height: 25px;
}
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.footer > p {
    color: white;
}